* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans";
}

.nav-bar {
    background: linear-gradient(236.98deg, #444349 30.31%, #444349 101.06%);
    padding: 5px 20px;
    display: flex;
    justify-content: left;
}

img {
    height: 80px;
    width: 120px;


}